extends layout

block content
  div.wrapper
    img(src="/images/fbot.png")
    h1 It's working 
  img(src="/images/campus_logo.png" class="logo-right")
  img(src="/images/nearsoftlogo.png" class="logo-left")
