body {
  background-color: #0084ff;
  font-family: 'Helvetica';
  color: white;
}

.wrapper {
  text-align: center;
  background-color: #0084ff;
}

.logo-right {
  width: 150px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.logo-left {
  width: 80px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
